## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

coin-trade-59f69-firebase-adminsdk-r3vwe-c28f0e72ef.json
coin-trade-test-firebase-adminsdk-naxre-3e97c3d776.json
igts-nsut-firebase-adminsdk-x5342-878108b482.json